@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #18181a;
  font-family: 'Montserrat', sans-serif;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #252529;
  height: 69px;
}

.mainLogo {
  font-size: 45px;
  color: #7c3535;
  margin: 10px 0 0 2rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin: 5px 0 0 20px;

}

.searchInput {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px 8px;
  height: 32px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #18181a;
  background-color: #18181a;
  color: #999999;

}

.searchInput::placeholder {
  color: #999999;
  opacity: 1;
}

.leftSideInfo {
  display: flex;
}

.addTaskBtn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 23px;
  margin: 15px 50px 0 0;
}

#headerAddBtn {
  color: #ad4a4a;
  margin-right: 2rem;
}

#headerAddBtn:hover {
  color: #8b3b3b;
}

/* MAIN CONTENT */
.allTaskHeader {
  color: #c5c5cc;
  margin: 25px
}

.numberSpan {
  color: #ad4a4a;
  margin-right: 2px;
}

.card {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px white solid;
  position: relative;
}

.editInput {
  background-color: #39393f;
  color: #cccccc;
  width: 400px;
  height: 50px;
  padding: 8px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

.editBtn {
  padding: 7px;
  cursor: pointer;
  font-size: 16px;
  background: none;
  border: none;
  color: #c5c5cc;
  position: absolute;
  right: 40px;
  top: 7px;
}

.editBtn:hover {
  background-color: #4646468c;
  border-radius: 40px;
}

.updateBtn {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #39393f;
  color: #dfdfdf;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  padding: 5px;
  min-width: 80px;
  border: 1px solid;
  border-radius: 5px;
}

.updateBtn:hover {
  background-color: #4646468c;
  border-radius: 8px;
}

.optionsBtn {
  padding: 5px 8px;
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  color: #c5c5cc;
  position: absolute;
  right: 13px;
  top: 6px;
}

.optionsBtn:hover {
  background-color: #4646468c;
  border-radius: 50px;
}


.checkbox {
  height: 58px;
  width: 18px;
  cursor: pointer;
}

#tasks {
  color: #c5c5cc;
  margin-left: 10px;
}

.crossOut {
  text-decoration: line-through;
}

/* ADD TASK DROPDOWN */
.dropdownWrapper {
  position: relative;
  margin: 12px;
}

.dropBtnContainer {
  display: flex;
  gap: 15px;
  margin-left: 10px;
}

#dropDown {
  display: flex;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 2;
  border: 1px solid white;
}

.dropDownInput {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeded;
  border-radius: 6px;
  height: 40px;
  padding: 10px;
  background-color: #39393f;
  color: #cdcdcf;
}

.addTaskDropdownBtn {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  color: #c5c5cc;
  background-color: #39393f;
  font-size: .8rem;
  border: 1px solid;
  border-radius: 6px;
}

.hr {
  width: 90%;
}

.addTaskBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #999999;
  font-size: 1.36rem;
}

.mainPageAddForm button:hover {
  color: #afafaf;
}

.mainPageAddForm i {
  color: #ad4a4a;
  font-size: 1.5rem;
}

/* LEFT SIDEBAR */

.tabBtn {
  width: 100%;
  height: 100%;
  background: transparent;
  border: transparent;
  cursor: pointer;
  color: #c5c5cc;
}

.homeLeftSide {
  border-top: 1px solid #202024;
  height: fit-content;
}

.tabContainer {
  display: flex;
}

.sideBarTab {
  font-size: 13px;
  background-color: #26262c;
  cursor: pointer;
  color: #c5c5cc;
  padding: 10px;
  border: 1px solid #212125;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.sideBarTab:hover {
  background-color: #3b3b41;
}


/* TABLET SECTION */
@media(min-width: 700px) {
  .card{
    margin: 1.5rem;
  }
  #dropDown{
    margin: 12px;
  }
  .dropDownInput{
    width: 300px;
  }
  .addTaskDropdownBtn{
    padding: .6rem;
  }
}

/* DESKTOP SECTION */
@media(min-width: 1200px) {
  .dropdownWrapper{
    margin-left: 1rem;
  }
  .card{
    width: 80rem;
    padding: 1rem;
    margin-bottom: 25px;
  }
  .mainContentContainer{
    display: flex;
  }
  .tabContainer{
    display: flex;
    flex-direction: column;
    width: 26rem;

  }
  .hr{
    width: 97%
  }
  .homeRightSide{
    margin-left: 10px;
  }
  .homeLeftSide{
    background-color: #26262c;
    height: auto;
    min-height: 93vh;
  }
}